.story-container {
  height: 28vh;
  overflow-y: auto;
  background-image: url('/nyt.jpeg');
  color: black;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.article-title {
  height: 80%;
  padding: 0;
  width: 95%;
  margin: 7vh auto 0 auto;
  font-size: 14px;
}

.section-tag {
  background-color: rgba(93, 93, 149, 0.656);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: rgb(248, 245, 245) 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 0 5px 10px 0;
  text-align: center;
  width: 65%;
  align-self: center;
}